{#head#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {% block global_css %}
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/admin/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/admin/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/admin/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/button.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/product.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/admin/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/admin/skins/_all-skins.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/style.css') }}">
    {% endblock %}

    {% block private_css %}
    {% endblock %}
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    {% block global_js %}
        <script src="{{ asset('bundles/hkgbiweb/js/admin/jQuery-2.1.4.min.js') }}"></script>
    {% endblock %}

</head>

<body class="skin-blue layout-top-nav">


<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('frontend_index') }}" class="navbar-brand" style="height:auto;padding:2px"><img src="{{ asset('bundles/hkgbiweb/images/logo.png') }}"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav" style="margin-top:17px;font-size:17px;font-family: 微软雅黑">
                    {{ render(controller('hkgbiWebBundle:frontend/Default:nav')) }}
                </ul>
            </div><!-- /.navbar-custom-menu -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

{% block banner %}
{% endblock %}
{#main content#}
{% block main_content %}
{% endblock %}


{#footer#}
{% block footer %}
    {{ render(controller('hkgbiWebBundle:frontend/Default:footer')) }}

{% endblock %}
{% block private_js %}
{% endblock %}
</body>
</html>