{% extends 'hkgbiWebBundle:frontend:base.html.twig' %}

{% block private_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/style(origin).css') }}">
    <style>.nav-tabs-custom>.nav-tabs>li.active {
            border-top-color: #C22D2D;}</style>
{% endblock %}

{% block main_content %}
    {#内页banner图#}
    {{ render(controller('hkgbiWebBundle:frontend/Default:innerBanner')) }}

    {#基金详情、走势图、预约#}
    <div class="pro_bg">
        <h1 class="pro_top" style="font-family: 微软雅黑">{{ product.name }}</h1>
        <div class="clear"></div>

        <div class="pro_li1" style="margin-left:60px">单位净值<br /><span class="sese">{% if product.values[0] is defined %}{{ product.values[product.countValues()-1].getValue() }}{% endif %}</span></div>
        <div class="pro_li2" style="margin-left:40px">净值日期<br /><span class="sese">{% if product.values[0] is defined %}{{ product.values[product.countValues()-1].getValueDate()|date('Y-m-d') }}{% endif %}</span></div>
        <div class="pro_li3" style="margin-left:80px">累计净值<br /><span class="sese">{% if product.values[0] is defined %}{{ product.values[product.countValues()-1].getValue() }}{% endif %}</span></div>

        <div class="pro_li2" style="margin-left:90px">成立日期<br /><span class="sese">{{ product.createdDate|date("Y-m-d") }}</span></div>
        <div class="pro_li1" style="width:150px">累计派息额(每百万)<br /><span class="sese" style="font-size:16px;font-weight:600"> 元/累计 次</span></div>
        <div class="pro_li3" style="margin-left:30px;width:170px">今年以来收益率(不含派息)<br /><span class="sese" style="padding-left:26%"></span></div>
    </div>
    <div class="col-md-12" style="float:none">
        <div class="nav-tabs-custom" id="tabs1">
            <ul class="nav nav-tabs" style="font-size: 18px">
                <li class="active"><a href="#tab_overview" data-toggle="tab">产品概况</a></li>
                <li><a href="#tab_svg" data-toggle="tab">净值走势</a></li>
                <li><a href="#tab_reservation" data-toggle="tab">立即预约</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_overview">
                    <div class="main1box">
                    {{ product.productOverview|raw }}
                    </div>
                </div>
                <div class="tab-pane" id="tab_svg">

                </div>
                <div class="tab-pane" id="tab_reservation">

                    {{ form_start(form,{'attr':{'style':'width:350px;margin:0 auto'}}) }}
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_row(form.department) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.cellphone) }}
                        {{ form_widget(form.cellphone) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.company) }}
                        {{ form_widget(form.company) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.fax) }}
                        {{ form_widget(form.fax) }}
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        {{ form_label(form.remark) }}
                        {{ form_widget(form.remark) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交预约</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block private_js %}
    <script src="{{ asset('bundles/hkgbiweb/js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/highcharts/exporting.js') }}"></script>
    <script>
        var title = "{{ product.name }}";
        var min = 0.7;
    </script>
    <script type="text/javascript">
        $(function () {
            Highcharts.setOptions({
                lang: {
                    printChart:"打印图表",
                    downloadJPEG: "下载JPEG图片" ,
                    downloadPDF: "下载PDF文档"  ,
                    downloadPNG: "下载PNG图片"  ,
                    downloadSVG: "下载SVG矢量图" ,
                    exportButtonTitle: "导出图片"
                }
            });

            $('#tab_svg').highcharts({
                credits:{
                    text:'巨牛金融',
                    href:'http://www.hkgbf.com/',
                    position:{                          // 位置设置
                        align: 'right',
                        x: 0,
                        verticalAlign: 'bottom',
                        y: -5
                    },
                    style: {                            // 样式设置
                        cursor: 'pointer',
                        color: 'red',
                        fontSize: '14px'
                    }
                },
                chart: {
                    type: 'spline',
                    zoomType:'x',
                    plotBackgroundImage:"{{ asset('bundles/hkgbiweb/images/svg_bg.jpg') }}"
                },
                title: {
                    text: title+'净值走势图',
                    style:{
                        fontSize:'24px',
                        fontWeight:'bold',
                        fontFamily:'Microsoft YaHei'
                    }
                },
                subtitle: {
                    text: ''
                },

                xAxis: {
                    labels:{
                        step:2,
                        formatter: function () {
                            return Highcharts.dateFormat('%m-%d', this.value);
                        },
                    },
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day:'%d',
                        month: '%m',
                        year: '%Y'
                    }
                },
                yAxis: {
                    labels:{
                        step:2
                    },
                    title: {
                        text: '净值'
                    },

                    min: min
                },
                tooltip: {
                    shared: true,
                    crosshairs:true,
                    //xDateFormat: '<b>'+'数据日期:'+'</b>'+'%Y-%m-%d',
                    //pointFormat: '<span style="color:{series.color}">累计净值:</span>: <b>{point.y}</b><br/>'
                    //hearderFormat:'<b>'+'数据日期:'+'</b>'+Highcharts.dateFormat('%Y-%m-%d', this.x)+'<br>',
                    //pointFormat:'<b>'+'累计净值:'+'<br>'+point.y
                    formatter: function() {
                        return '<b>'+ '数据日期:' +'</b>'+
                                Highcharts.dateFormat('%Y-%m-%d', this.x) +'<br>'+ '<b>'+'最新净值:'+'</b>'+this.y+'<br>'+ '<b>'+'沪深300净值:'+'</b>'+this.points[1].y;
                    }
                },

                series: [{
                    name: title,
                    maker:{
                        symbol:'diamond'
                    },
                    color: 'red',

                    data: [
                        {% if product.values|length!=0 %}
            {% for value in product.values %}
            [Date.UTC({{ value.getValueDate()|date('Y') }},{{ value.getValueDate()|date('m') }},{{ value.getValueDate()|date('d') }}), {{ value.value }}],
            {% endfor %}
                        {% else %}
                        {% endif %}
            ]
        }, {
            name: '沪深300',
            color:'blue',
            data:[
                {% if product.values|length!=0 %}
                {% set hs_origin=product.values[0].getHs300() %}
            {% for value in product.values %}
                {% set hs300_index=value.hs300/hs_origin %}
            [Date.UTC({{ value.getValueDate()|date('Y') }},{{ value.getValueDate()|date('m') }},{{ value.getValueDate()|date('d') }}),{{ hs300_index|number_format(4) }}],
            {% endfor %}
                {% else %}
                {% endif %}
        ]
        }]
        });
        });
        var num='12';
        var data=new Array();
        data.push(parseInt(num));

    </script>
{% endblock %}

