{% extends 'hkgbiWebBundle:frontend:base.html.twig' %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/style(origin).css') }}">
{% endblock %}

{% block main_content %}
    {{ render(controller('hkgbiWebBundle:frontend/Default:banner')) }}
    <div class="main">
        <div class="left">
            <div class="lefttop">{{ module.name }}</div>
            <div class="leftmain">
                <ul>
                    {% set i=1 %}
                    {% if module.name=='客户服务' %}
                        <li><a href="javascript:void(0)"  data-toggle="modal" data-target="#reservation" data-whatever="@mdo">在线预约</a></li>
                    {% endif %}
                    {% if module.name=='关于我们' %}
                        {% for article in module.articles %}
                            <li><a href="javascript:;" value="{{ article.id }}">{{ article.title }}</a></li>
                        {% endfor %}
                    {% else %}
                       {% for category in category_list %}
                           {% if category.name=='cover' %}{% else %}
                           <li><a href="javascript:;" value="{{ category.id }}">{{ category.name }}</a></li>
                           {% endif %}
                           {% set i=i+1 %}
                       {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="right">
                       <div class="righttop">
                           <div class="ll">{% if module.name=='客户服务' %}常见问题{% elseif module.name=='关于我们' %}公司简介{% else %}{{ module.name }}{% endif %}</div>
                           <div class="rr">您当前的位置是：<a href="{{ path('frontend_index') }}">网站首页</a> > {{ module.name }}</div></div>
                       <div class="rightmain">
                           {% if module.name=='加入我们' %}
                                {{ render(controller('hkgbiWebBundle:frontend/Default:JoinUsCover')) }}
                           {% elseif module.name=='客户服务' %}
                               {#{{ module.articles[0].getContent()|raw }}#}
                               {{ content|raw }}
                           {% elseif module.name=='关于我们' %}
                               {#{{ module.articles[0].getContent()|raw }}#}
                               {{ content|raw }}
                           {% elseif module.name=='公告/动态' %}
                               {% if article_id is not defined %}
                               {{ render(controller('hkgbiWebBundle:frontend/Default:category',{'id':5})) }}
                               {% else %}
                               {{ render(controller('hkgbiWebBundle:frontend/Default:getArticle',{'id':article_id})) }}
                               {% endif %}    {
                           {% endif %}
                       </div>
        </div>
    </div>

    {% if module.identifier=='service' %}
    {#在线预约modal框#}
    <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">在线预约</h4>
                </div>
                <div class="modal-body">
                    {% include '@hkgbiWeb/frontend/reservation.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block private_js %}
    <script src="{{ asset('bundles/hkgbiweb/js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/admin/app.min.js') }}"></script>

    {#非关于我们的左侧栏菜单操作#}
    {% if module.name!='关于我们' %}
    <script>
        $(function(){
            $('.leftmain ul li a').click(function(){
                if($(this).text()!=='在线预约'&&$(this).text()!=='常见问题'){
                    var $id = $(this).attr('value');
                    var $cate_name = $(this).text();
                    $.ajax({
                        url: "{{ app.request.baseUrl }}/category/" + $id,
                        success: function (data) {
                            $('.rightmain').html(data);
                            var $module_name = $('.lefttop').text();
                            var $r_nav = "您当前的位置是：<a href={{ path('frontend_index') }}>网站首页</a> > " + $module_name + " > " + $cate_name;
                            $('.rr').html($r_nav);
                            $('.ll').html($cate_name);
                        }
                    });
                }
            })

        })
    </script>
    {% endif %}

    {#‘关于我们’的左侧栏菜单操作#}
    {% if module.name=='关于我们' %}
        <script>
            $(function(){
                $(document).on('click','.leftmain ul li a',function(){
                    var $id = $(this).attr('value');
                    var $cate_name = $(this).text();
                    $.ajax({
                        url:"{{ app.request.baseurl }}/getmodule/article/"+$id,
                        success: function(data){
                            var $content = "您当前的位置是：网站首页 > " + "{{ module.name }}" +" > " +$cate_name;
                            $('.rr').html($content);
                            $('.ll').html($cate_name);
                            $('.rightmain').html(data);
                        }
                    })
                })
            })
        </script>
    {% endif %}

    {#分类文章列表操作操作#}
    <script>
        $(function(){
                $(document).on("click",".rightmain div p a",function(){
                    var $id = $(this).attr('value');
                    var $article_title = $(this).attr('title');
                    var $cate_name = $('.ll').text();
                    $.ajax({
                        url:"{{ app.request.baseurl }}/getmodule/article/"+$id,
                        success: function(data){
                            var $content = "您当前的位置是：网站首页 > " + "{{ module.name }}" +" > "+$cate_name+" > " +$article_title;
                            $('.rr').html($content);
                            $('.rightmain').html(data);
                        }
                    })
                })
        });
    </script>

    {#在线预约modal框操作#}
    {% if module.identifier=='service' %}
    <script>
        $(function(){
            $('#reservation').modal({
                show:true,
                backdrop:true
            })
        });
    </script>
    {% endif %}

{% endblock %}