{% extends 'hkgbiWebBundle:frontend:base.html.twig' %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/style(origin).css') }}">
{% endblock %}

{% block main_content %}
    {{ render(controller('hkgbiWebBundle:frontend/Default:banner')) }}
    <div class="main">
        <div class="left">
            <div class="lefttop">{{ module.name }}</div>
            <div class="leftmain">
                <ul>
                {% set i=1 %}
                {% for category in category_list %}
                    <li {% if i==1 %}class="active"{% endif %}><a href="javascript:;" value="{{ category.id }}">{{ category.name }}</a></li>
                    {% set i=i+1 %}
                {% endfor %}
                </ul>


            </div>
        </div>

        <div class="right">
                       <div class="righttop"><div class="ll"></div><div class="rr">您当前的位置是：<a href="{{ path('frontend_index') }}">网站首页</a> >  > </div></div>
                       <div class="rightmain">
                       </div>
        </div>
    </div>
{% endblock %}

{% block private_js %}
    <script src="{{ asset('bundles/hkgbiweb/js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/admin/app.min.js') }}"></script>
    <script>
        $(function(){
            $('.leftmain ul li a').click(function(){
                var $id = $(this).attr('value');
                $.ajax({
                    url:"{{ app.request.baseUrl }}/category/"+$id,
                    success: function(data){
                        $('.rightmain').html(data);
                        var $module_name = $('.lefttop').text();
                        var $cate_name = $(this).text();
                        var $r_nav = "您当前的位置是：<a href={{ path('frontend_index') }}>网站首页</a> > "+$module_name+" > "+$cate_name;
                        $('.rr').html($r_nav);
                    }
                })
            })

        })
    </script>
    <script>
        $(function(){
                $(document).on("click",".rightmain div p a",function(){
                    var $id = $(this).attr('value');
                    $.ajax({
                        url:"{{ app.request.baseurl }}/module/article/"+$id,
                        success: function(data){
                            var $content = "<div class='righttop'>" +
                                    "<div class='ll'>" + "</div>" +
                                    "<div class='rr'>您当前的位置是：网站首页 > "+ "{{ module.name }}" +" > {:$rs[title]}" +
                                    "</div></div>"+"<div class='rightmain'>"+data+"</div>"
                            $('.right').html($content);
                        }
                    })
                })
        });
    </script>

{% endblock %}