{% extends 'hkgbiWebBundle:frontend:base.html.twig' %}
{% block private_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/css/style(origin).css') }}">
{% endblock %}

{% block main_content %}
    {{ render(controller('hkgbiWebBundle:frontend/Default:banner')) }}
    <div class="main">
        <div class="left">
            <div class="lefttop">{{ module.name }}</div>
            <div class="leftmain">
                <ul>
                {% set i=1 %}
                {% for category in category_list %}
                    {% if category.name=='cover' %}{% else %}
                    <li><a href="javascript:;" value="{{ category.id }}">{{ category.name }}</a></li>
                    {% endif %}
                    {% set i=i+1 %}
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="right">
                       <div class="righttop"><div class="ll">{% if module.name=='客户服务' %}在线预约{% else %}{{ module.name }}{% endif %}</div><div class="rr">您当前的位置是：<a href="{{ path('frontend_index') }}">网站首页</a> > {{ module.name }}</div></div>
                       <div class="rightmain">
                           {% if module.name=='加入我们' %}
                                {{ render(controller('hkgbiWebBundle:frontend/Default:JoinUsCover')) }}
                           {% elseif module.name=='客户服务' %}
                               {% include '@hkgbiWeb/frontend/reservation.html.twig' %}
                           {% endif %}
                       </div>
        </div>

        {#预约modal框#}
        <div class="modal fade" id="new_module" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">在线预约</h4>
                    </div>
                    <div class="modal-body">
                        <form name="resevation" method="post" action="{{ path('reservation') }}">


                        </form></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定添加</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block private_js %}
    <script src="{{ asset('bundles/hkgbiweb/js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/admin/app.min.js') }}"></script>
    <script>
        $(function(){
            $('.leftmain ul li a').click(function(){
                if($(this).text()!=='在线预约'){
                    var $id = $(this).attr('value');
                    var $cate_name = $(this).text();
                    $.ajax({
                        url: "{{ app.request.baseUrl }}/category/" + $id,
                        success: function (data) {
                            $('.rightmain').html(data);
                            var $module_name = $('.lefttop').text();
                            var $r_nav = "您当前的位置是：<a href={{ path('frontend_index') }}>网站首页</a> > " + $module_name + " > " + $cate_name;
                            $('.rr').html($r_nav);
                            $('.ll').html($cate_name);
                        }
                    });
                }
            })

        })
    </script>
    <script>
        $(function(){
                $(document).on("click",".rightmain div p a",function(){
                    var $id = $(this).attr('value');
                    var $article_title = $(this).attr('title');
                    var $cate_name = $('.ll').text();
                    $.ajax({
                        url:"{{ app.request.baseurl }}/module/article/"+$id,
                        success: function(data){
                            var $content = "您当前的位置是：网站首页 > " + "{{ module.name }}" +" > "+$cate_name+" > " +$article_title;
                            $('.rr').html($content);
                            $('.rightmain').html(data);
                        }
                    })
                })
        });
    </script>

{% endblock %}