{% extends "@hkgbiWeb/backend/layout_admin.html.twig" %}
{% block private_css %}
{% if identifier=='service' %}
<link rel="stylesheet" href="{{ asset('bundles/hkgbiweb/js/dataTables/dataTables.bootstrap.css') }}">
{% endif %}
{% endblock %}

{% block page_header %}{{ module }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">{{ module }}文章列表</h3>
            </div><!-- /.box-header -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% if categories[0] is defined and categories[0] is not null %}
                    {% set i=1 %}
                    {% if identifier=='service' %}
                        <li class="active"><a href="#d_tab0" data-toggle="tab">在线预约</a></li>
                        <li><a href="#d_tab1" data-toggle="tab">文件下载</a></li>
                        <li><a href="#d_tab2" data-toggle="tab">软件下载</a></li>
                    {% endif %}
                    {% for category in categories %}
                        <li {% if i==1 %}class="active"{% endif %}><a href="#tab_{{ i }}" data-toggle="tab" >{{ category.getName() }}</a></li>
                    {% set i=i+1 %}
                    {% endfor %}
                {% else %}
                {% endif %}
            </ul>
             <div class="tab-content">
                 {% if categories[0] is defined and categories[0] is not null  %}
                 {% set j=1 %}
                 {% for  articles in articles_array%}
                  <div class="tab-pane {% if j==1 %}active{% endif %}" id="tab_{{ j }}">
                     <div class="box-body">
                       <ul class="todo-list ui-sortable">
                         {% for article in articles %}
                           <li>
                        <!-- todo text -->
                        <span class="text">{{ article.title }}</span>
                        {#<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>#}
                        <div class="tools">
                            <a href="{{ path('edit_article',{'id':article.getId(),'identifier':identifier}) }}"><i class="fa fa-edit" style="font-size:18px"></i></a>
                            <a href="javascript:void(0)" onclick="deletearticle({{ article.id }})"><i class="fa fa-trash-o" style="font-size:18px"></i></a>
                        </div>
                    </li>
                         {% endfor %}
                       </ul>
                         <div style="margin-top:2%">
                         <a href="{{ path('create_article',{'identifier':identifier}) }}"><button class="btn btn-default pull-right" id="add"><i class="fa fa-plus"></i>添加信息</button></a>
                         </div>
                     </div><!-- /.box-body -->
                  </div>
                     {% set j=j+1 %}
                 {% endfor %}
                     {% if identifier=='service' %}
                         <div class="tab-pane active" id="d_tab0">
                             <div class="box-body">
                                 {{ render(controller('hkgbiWebBundle:backend/Reservation:getAllReservations')) }}
                             </div>

                         </div>
                         <div class="tab-pane" id="d_tab1">
                             <div class="box-body">
                                 {{ render(controller('hkgbiWebBundle:backend/download/Download:list',{'category':'document'})) }}
                                 <div style="margin-top:2%">
                                 <button  class="btn btn-default pull-right" data-toggle="modal" data-target="#document_download" data-whatever="@mdo"><i class="fa fa-plus"></i>添加文件</button>
                                 </div>
                             </div>

                         </div>
                         <div class="tab-pane" id="d_tab2">
                             <div class="box-body">
                                 {{ render(controller('hkgbiWebBundle:backend/download/Download:list',{'category':'application'})) }}
                                 <div style="margin-top:2%">
                                     <button class="btn btn-default pull-right" data-toggle="modal" data-target="#application_download" data-whatever="@mdo"><i class="fa fa-plus"></i>添加文件</button>
                                 </div>
                             </div><!-- /.box-body -->

                         </div>
                     {% endif %}
                 {% else %}
                     <div class="box-body">
                         <ul class="todo-list ui-sortable">
                             {% if identifier=='products' %}
                                 {{ render(controller('hkgbiWebBundle:backend/Product:productList')) }}
                             {% endif %}
                             {% for article in no_cate_articles %}
                                 <li>
                                     <!-- todo text -->
                                     <span class="text">{{ article.title }}</span>
                                     {#<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>#}
                                     <div class="tools">
                                         <a href="{{ path('edit_article',{'id':article.getId(),'identifier':identifier}) }}"><i class="fa fa-edit" style="font-size:18px"></i></a>
                                         <a href="javascript:void(0)" onclick="deletearticle({{ article.id }})"><i class="fa fa-trash-o" style="font-size:18px"></i></a>
                                     </div>
                                 </li>
                             {% endfor %}
                         </ul>
                         {% if identifier=='products' %}
                         <div style="margin-top:2%">
                             <a href="{{ path('create_product') }}"><button class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加产品</button></a>
                             <button class="btn btn-primary pull-right" style="margin-right:10px" data-toggle="modal" data-target="#new_value" data-whatever="@mdo"><i class="fa fa-plus"></i>添加净值</button>
                         </div>
                          {#添加净值#}
                             {{ render(controller('hkgbiWebBundle:backend/Product:newValue')) }}
                          {#净值列表#}
                             <div class='modal fade' id="value_list_modal" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'>
                                 <div class='modal-dialog' role='document'>
                                     <div class='modal-content'>
                                         <div class='modal-header'>
                                             <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden="true">&times;</span></button>
                                             <h4 class='modal-title' id='exampleModalLabel'>基金净值列表</h4>
                                         </div>
                                         <div class='modal-body'>
                                             <ul class='todo-list ui-sortable' id="value_list">

                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         {% endif %}
                     </div>
                 {% endif %}
            {#<div class="box-footer clearfix no-border">
                <a href="{{ path('create_article',{'identifier':identifier}) }}"><button class="btn btn-default pull-right" id="add"><i class="fa fa-plus"></i>添加信息</button></a>
            </div>#}
                 
            </div>
        </div>

    </div>
</div>
    {{ render(controller('hkgbiWebBundle:backend/download/Download:createdownload',{'category':'document'})) }}
    {{ render(controller('hkgbiWebBundle:backend/download/Download:createdownload',{'category':'application'})) }}

{% endblock %}

{% block private_js %}
    {% if identifier=='service' %}
    <script src="{{ asset('bundles/hkgbiweb/js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/dataTables/dataTables.bootstrap.min.js') }}"></script>
    <script>
            $(function () {
                $('#reservation').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": false,
                    "ordering": false,
                    "info": true,
                    "autoWidth": true
                });
            });
        </script>
    {% endif %}
    <script>
        function deletearticle(id){
            if(confirm('你确定删除该信息吗?')){
                window.location.href="{{ app.request.baseurl }}/admin/article/{{ identifier }}/delete/"+id;
            }
        }

        function deletedownload(id){
            if(confirm('你确定删除该文件吗?')){
                window.location.href="{{ app.request.baseurl }}/admin/download/delete/"+id;
            }
        }

        function deletereservation(id){
            if(confirm('你确定删除该预约吗?')){
                window.location.href="{{ app.request.baseurl }}/reservation/delete/"+id;
            }
        }

        {% if identifier=='products' %}
        function deleteproduct(id){
            if(confirm('你确定删除该产品吗?')){
                window.location.href="{{ app.request.baseurl }}/product/delete/"+id;
            }
        }
        {% endif %}
    </script>
    <script>
        /*验证预约*/
        $(function(){
            $(document).on('click','#set_granted',function(){
                var $id = $(this).attr('value');
                var mythis = $(this);
                $.ajax({
                    url:"{{ app.request.baseUrl }}/reservation/setgranted/"+$id,
                    success:function(){
                        var $content = "<i id='undo_granted' class='fa fa-check' style='color:green' value="+ $id + "></i>";
                        mythis.replaceWith($content);
                    }
                })
            })
        })

        /*取消验证*/
        $(function(){
            $(document).on('click','#undo_granted',function(){
                var $id = $(this).attr('value');
                var mythis = $(this);
                $.ajax({
                    url:"{{ app.request.baseUrl }}/reservation/undogranted/"+$id,
                    success:function(){
                        var $content = "<i id='set_granted' class='fa fa-minus-circle' style='color:darkred' value="+ $id + "></i>";
                        mythis.replaceWith($content);
                    }
                })
            })
        })
    </script>

    {% if identifier=='products' %}
        <script>
            $(function(){
                $(document).on('click','#value_list_button',function(){
                    var $product_id = $(this).attr('value');
                    $.ajax({
                        url:"{{ app.request.baseUrl }}/admin/product/value/list/"+$product_id,
                        success:function(data){
                            $('#value_list').html(data);
                            $('#value_list_modal').modal({show:true});
                        }
                    })
                });
            })
        </script>
    {% endif %}

{% endblock %}