<div class="modal fade" id="new_value" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加基金净值</h4>
            </div>
            <div class="modal-body">
                <form name="value" method="post" action="{{ path('create_value') }}">
                <div class="form-group">
                    <label class="control-label required" for="form_product">选择基金</label>
                    {{ form_widget(form.product) }}
                </div>
                <div class="form-group">
                    <label class="control-label required" for="form_value_date">净值日期</label>
                    {{ form_widget(form.value_date) }}
                </div>
                <div class="form-group">
                    <label class="control-label required" for="form_value">单位净值</label>
                    {{ form_widget(form.value) }}
                </div>

                {{ form_widget(form._token) }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">确定添加</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
