{% extends "@hkgbiWeb/backend/layout_admin.html.twig" %}
{% block page_header %}修改信息{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body pad">
                    <form method="post" action="{{ path('edit_article',{'id':id,'identifier':identifier}) }}" enctype="multipart/form-data">
                        <input type="text" placeholder="请输入标题" style="width:300px;height:35px" class="form-group" id="article_title" name="article[title]" value="{{ article.getTitle() }}">
                        {% if cate_id is not null %}
                        {{ form_widget(form.categories,{'attr':{'style':'width:20%;display:inline-block'}}) }}
                        {% else %}
                        {% endif %}
                        <script>
                            $('select').find("option[value={{ cate_id }}]").attr("selected",true);
                        </script>
                        <span style="margin-left: 7px">推荐</span>
                        <input type="checkbox" id="article_recommended" name="article[recommended]"  value="{% if article.recommended==1 %}1{% else %}0{% endif %}" {% if article.recommended==true %}checked{% else %}{% endif %} style="display: inline-block">

                        <div class="form-group">
                            <span style="margin-left: 7px">缩略图:</span>
                            <input type="file" id="article_imageFile_file" name="article[imageFile][file]" style="display: inline-block">
                            {% if thumb is defined %}
                                <img style="width:200px"  src="{{ vich_uploader_asset(article,'imageFile') }}">
                            {% endif %}
                        </div>

                        <script id="intro" name="article[intro]" type="text/plain" placeholder="文章简介">{{ article.intro|raw }}</script>
                        <script id="container" name="article[content]" type="text/plain">{{ article.getContent()|raw }}</script>
                        <button class="btn btn-instagram" type="submit">提交</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block private_js %}
    {#富文本编辑器#}
    <script src="{{ asset('ueditor/ueditor.config.js') }}"></script>
    <script src="{{ asset('ueditor/ueditor.all.js') }}"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('intro',{
            toolbars:[
                [
                    'fullscreen', 'source', '|', 'undo', 'redo', '|', 'bold','italic', 'underline',
                    'strikethrough',  'pasteplain', 'preview', 'removeformat', 'unlink','cleardoc',
                    'fontfamily', 'fontsize', 'simpleupload', 'insertimage','link','emotion','justifyleft',
                    'justifyright','justifycenter','justifyjustify', 'forecolor','backcolor', 'attachment',
                    'imagecenter','autotypeset','inserttable','charts',

                ]
            ],
            initialFrameHeight: 130
        });
    </script>
    <script type="text/javascript">
        var ue = UE.getEditor('container',{
            toolbars:[
                [
                    'fullscreen', 'source', '|', 'undo', 'redo', '|', 'bold','italic', 'underline',
                    'strikethrough',  'pasteplain', 'preview', 'removeformat', 'unlink','cleardoc',
                    'fontfamily', 'fontsize', 'simpleupload', 'insertimage','link','emotion','justifyleft',
                    'justifyright','justifycenter','justifyjustify', 'forecolor','backcolor', 'attachment',
                    'imagecenter','autotypeset','inserttable','charts',

                ]
            ]
        });
    </script>
    <script>
        $('select').bind('change',function(){
            $("option[value={{ cate_id }}]").attr('selected',false);
            $(this).find("option:selected").attr('selected',true);
        })
    </script>
{% endblock %}