{% extends "@hkgbiWeb/backend/layout_admin.html.twig" %}
{% block private_css %}
    <link href="{{ asset('bundles/hkgbiweb/css/style.css') }}">
{% endblock %}

{% block page_header %}首页{% endblock %}
{% block content %}

    {#通知公告块#}
    <div class="row">
      <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for i in 0..count-1 %}
                        <li data-target="#carousel-example-generic" data-slide-to={{ i }} {% if i==0 %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set i = 1 %}

                        {% for key,image in images %}
                            <div class="item {% if i==1 %}active{% endif %}">
                                <img style="height:250px!important" src="{{ vich_uploader_asset(image,'imageFile') }}">
                                <div style="margin-left:35%">
                                    {% if key==0 %}{% else %}
                                    <a href="{{ path('sortforward',{'id':image.id}) }}"><i class="fa fa-angle-double-left"></i>前移</a>
                                    {% endif %}
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#edit_image_{{ image.id }}"><i class="fa fa-wrench"></i>更换图片</a>
                                    <a href="javascript:void(0)" onclick="deleteslider({{ image.id }})" style="color:darkred"><i class="fa fa-remove"></i>删除图片</a>
                                    {% if key==images|length-1 %}{% else %}
                                    <a href="{{ path('sortbackward',{'id':image.id}) }}"><i class="fa fa-angle-double-right"></i>后移</a>
                                    {% endif %}
                                </div>

                            </div>
                            {% set i=i+1 %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" style="width:10%" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control"  style="width:10%" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
      <div class="col-md-3" style="width:20%">
            <div class="box box-primary" >
                <div class="box-header with-border">
                    <h3 class="box-title">首页幻灯片</h3>
                </div>


             <form name="slider" method="post" action="{{ path('index') }}" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label" for="slider_imageFile_file">图片播放器(图片尺寸1906x620)</label>
                        <input type="file" id="slider_imageFile_file" name="slider[imageFile][file]">
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" type="submit" id="_submit" name="_submit" >保存修改</button>
                </div>
                {{ form_widget(slider_form._token) }}
              </form>
            </div>
      </div>
    </div>

    {#模块和分类#}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">模块</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody><tr>
                            <th style="width: 20%">排序</th>
                            <th>模块名</th>
                            <th>菜单</th>
                        </tr>

                        {% for module in modules %}
                        <tr>
                            <td>{{ module.id }}</td>
                            <td>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#edit_module_{{ module.id }}" data-whatever="@mdo" >{{ module.name }}</a>

                                {#编辑模块modal框#}
                                <div class="modal fade" id="edit_module_{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel">修改模块</h4>
                                            </div>
                                            <div class="modal-body">

                                                <form method="post" action="{{ path('edit_module',{'id':module.id}) }}">
                                                <div class="form-group">
                                                    <label class="control-label required">模块名称</label>
                                                    <input type="text" id="edit_module_name" name="edit_module_name" value="{{ module.name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label required">模块标识符</label>
                                                    <input type="text" id="edit_module_identifier" name="edit_module_identifier" value="{{ module.identifier }}">
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>{% if module.inMenus==false %}
                                <button id="{{ module.id }}" class="btn btn-success">设为菜单</button>
                                    {#设为菜单ajax#}
                                    <script>
                                        $(document).ready(function(){
                                            $("#{{ module.id }}").click(function(){
                                                $.ajax({
                                                    type:"POST",
                                                    url:"{{ app.request.baseurl }}/admin/in_menus/{{ module.id }}",
                                                    success:function(data){
                                                        var $verified = "<button id='{{ module.id }}' class='btn btn-warning'>取消菜单</button>";
                                                        $("#{{ module.id }}").replaceWith($verified);
                                                    }

                                                });
                                            });
                                        });
                                    </script>
                                {% else %}
                                <button id="{{ module.id }}" value="disable_in_menus" class="btn btn-warning">取消菜单</button>
                                    {#取消菜单ajax#}
                                    <script>
                                        $(document).ready(function(){
                                            $("#{{ module.id }}").click(function(){
                                                $.ajax({
                                                    type:"POST",
                                                    url:"{{ app.request.baseurl }}/admin/disable_in_menus/{{ module.id }}",
                                                    success:function(data){
                                                        var $verified = "<button id='{{ module.id }}' class='btn btn-success'>设为菜单</button>";
                                                        $("#{{ module.id }}").replaceWith($verified);
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                {% endif %}
                                <a href="javascript:void(0)" onclick="deleteModule({{ module.id }})"><button id="{{ module.id }}" class="btn btn-danger">删除菜单</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody></table>

                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <button class="btn btn-facebook box-tools pull-left" data-toggle="modal" data-target="#new_module" data-whatever="@mdo">添加模块</button>
                </div>
            </div>
        </div>

        {#分类管理模块#}
        <div class="col-md-3">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">分类管理</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" style="font-size:11px">
                    {% for module in modules %}
                    <ul>
                        <span style="font-size:14px"><b>{{ module.name }}</b></span>
                        {% for category in module.getCategories() %}
                        <li class="category"><a href="javascript:void(0)" data-toggle="modal" data-target="#edit_category_{{ category.id }}" data-whatever="@mdo" >{{ category.name }}</a>
                            <a href="javascript:void(0)" onclick="delete_category({{ category.id }})"><i class="fa fa-times" style="float:right;color:red"></i></a>
                        </li>

                        {#编辑分类#}
                            <div class="modal fade" id="edit_category_{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">修改分类</h4>
                                        </div>
                                        <div class="modal-body">

                                            <form method="post" action="{{ path('edit_category',{'id':category.id}) }}">
                                                <div class="form-group">
                                                    <label class="control-label required">分类名称</label>
                                                    <input type="text" id="edit_category_name" name="edit_category_name" value="{{ category.name }}">
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">保存修改</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <button class="btn btn-facebook box-tools pull-left" data-toggle="modal" data-target="#new_category" data-whatever="@mdo">添加分类</button>
                </div>
            </div>
        </div>
    </div>

    {#添加模块modal框#}
    <div class="modal fade" id="new_module" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加模块</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(module_form) }}
                        <div class="form-group">
                            <label class="control-label required" for="form_name">模块名称</label>
                            {{ form_widget(module_form.name) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label required" for="form_identifier">模块标识符</label>
                            {{ form_widget(module_form.identifier) }}
                        </div>
                    {{ form_widget(module_form._token) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定添加</button>
                </div>
                {{ form_end(module_form) }}
            </div>
        </div>
    </div>


    {#添加分类modal框#}
    <div class="modal fade" id="new_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加模块</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(category_form) }}
                    <div class="form-group">
                        <label class="control-label required" for="form_name">选择模块</label>
                        {{ form_widget(category_form.module) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="form_identifier">分类名称</label>
                        {{ form_widget(category_form.name,{'value':''}) }}
                    </div>
                    {{ form_widget(category_form._token) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定添加</button>
                </div>
                {{ form_end(category_form) }}
            </div>
        </div>
    </div>

    {#编辑图片modal框#}
    {% for image in images %}
    {{ render(controller('hkgbiWebBundle:backend/Admin:editSlider',{'id':image.id})) }}
    {% endfor %}


{% endblock %}


{% block private_js %}
    <script>
    function deleteModule(id){
        if(confirm('是否删除该模块？删除后不可恢复！')){
            window.location.href="{{ app.request.baseurl }}/admin/delete_module/"+id;
        }
    }
</script>
    <script>
        function delete_category(id){
            if(confirm('你确定删除该分类吗?')){
                window.location.href="{{ app.request.baseurl }}/admin/delete_category/"+id;
            }
        }
    </script>
    <script>
        function deleteslider(id){
            if(confirm('删除该图片吗?')){
                window.location.href="{{ app.request.baseurl }}/admin/slider/delete/"+id;
            }
        }
    </script>
{% endblock %}
